Source: pi-tryboot
Section: admin
Priority: optional
Maintainer: Juerg Haefliger <juergh@proton.me>
Build-Depends: debhelper (>= 11), rsync
Standards-Version: 4.1.3
Vcs-Git: https://github.com/juergh/pi-tryboot
Rules-Requires-Root: no

Package: pi-tryboot-simple
Architecture: all
Depends: ${misc:Depends}
Description: Raspberry Pi tryboot bootloader (simple)
 Raspberry Pi tryboot bootloader (simple)

Package: pi-tryboot
Architecture: all
Depends: ${misc:Depends}, pi-tryboot-simple
Description: Raspberry Pi tryboot bootloader
 Raspberry Pi tryboot bootloader
