Source: rpi-tryboot
Section: main/misc
Priority: optional
Maintainer: Juerg Haefliger <juergh@proton.me>
Build-Depends: debhelper (>= 11), rsync
Standards-Version: 4.1.3

Package: rpi-tryboot-simple
Architecture: all
Depends: ${misc:Depends}
Description: Raspberry Pi tryboot bootloader (simple)
 Raspberry Pi tryboot bootloader (simple)

Package: rpi-tryboot
Architecture: all
Depends: ${misc:Depends}, rpi-tryboot-simple
Description: Raspberry Pi tryboot bootloader
 Raspberry Pi tryboot bootloader
